@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    background-color: #FFFFFF;
  }

div#full {
    height: 100vh;
    background-color: #9E9E9E;
}

.content-paper {
    max-width: 970px;
    margin: 64px auto;
    background-color:#F5F5F5;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2)
  }

/* narrow layout */
@media (max-width: 970px) {
    .content-paper {
      max-width: none;
      margin: 0;
    }
}

.image {
  height: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.pre {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
}

.title {
  padding: 16px 0;
  font-size: 30px;
  font-weight: 600;
}

.main {
  padding: 24px 16px 80px 16px;
  border-top: 1px solid #ddd;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
}

.content {
  max-width:596px;
  min-width:300px;
}

/* Bigger than 679px */
@media (min-width: 679px) {
    .content {
      width:calc(100% - 340px);
      width: -moz-calc(100% - 340px);
      width: -webkit-calc(100% - 340px);
      width: -o-calc(100% - 340px);
    }
    .sidebar {
      width:300px;
      margin-left: 16px;
    }
}

.sidebar paper-card {
    margin: 5px 0 5px 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidebar paper-card:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
a paper-icon-button iron-icon img {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}

a:hover paper-icon-button iron-icon img {
    -webkit-filter: none;
    filter: none;
}

/* tablet & smaller */
@media (max-width: 679px) {
    .content {
      width:100%;
    }
    .sidebar {
      min-width:300px; 
      width:100%;
    }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.sidebar-title {
    padding: 16px 0 0 16px;
    font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.sidebar-connect { 
  font-size: 18px;
  line-height: 24px; 
}

.sidebar-connect-p { 
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
  }

.trending { 
    padding: 16px;
    min-width: 268px;
}

.trend { 
    width: 100%;
    display: block;
    margin: 0 0 8px 0;
}

a .trending-item { 
    font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: black;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 3px 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.trending:hover .trend a .trending-item { 
    color: #D32F2F;
}

a:hover .trending-item, a:focus .trending-item {
    border: 1px solid #D32F2F;
}

.footer-shadow {
  box-shadow: 0 -0.1875rem 0.125rem rgba(0, 0, 0, 0.14);
}

.mdl-mega-footer {
  background-color: #FFFFFF;
}

@media screen and (min-width:1024px){.first{width:52%;}}