@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    background-color: #FFFFFF;
  }

div#full {
    height: 100vh;
    background-color: #9E9E9E;
}

.content-paper {
    max-width: 970px;
    margin: 64px auto;
    background-color:#F5F5F5;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2)
  }

/* narrow layout */
@media (max-width: 970px) {
    .content-paper {
      max-width: none;
      margin: 0;
    }
}

.image {
  height: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.pre {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
}

.title {
  padding: 16px 0;
  font-size: 30px;
  font-weight: 600;
}

.main {
  padding: 24px 80px;
  border-top: 1px solid #ddd;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.footer-shadow {
  box-shadow: 0 -0.1875rem 0.125rem rgba(0, 0, 0, 0.14);
}

.mdl-mega-footer {
  background-color: #FFFFFF;
}