@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    background-color: #FFFFFF;
  }

div#full {
    height: 100vh;
    background-color: #9E9E9E;
}

a {
  text-decoration: none;
}

.content-paper {
    max-width: 970px;
    margin: 64px auto;
    background-color:#F5F5F5;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2)
  }

/* narrow layout */
@media (max-width: 970px) {
    .content-paper {
      max-width: none;
      margin: 0;
    }
}

.image {
  height: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.pre {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
}

.details {
  padding: 24px 16px 80px 16px;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 1px;
}

.title {
  padding: 16px 0;
  font-size: 30px;
  font-weight: 600;
}

.main {
  padding: 24px 16px 80px 16px;
  border-top: 1px solid #ddd;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
}

.content {
  max-width:596px;
  min-width:300px;
}

/* Bigger than 679px */
@media (min-width: 679px) {
    .content {
      width:calc(100% - 340px);
      width: -moz-calc(100% - 340px);
      width: -webkit-calc(100% - 340px);
      width: -o-calc(100% - 340px);
    }
    .sidebar {
      width:300px;
      margin-left: 16px;
    }
}

.sidebar paper-card {
    margin: 5px 0 5px 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidebar paper-card:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
a paper-icon-button iron-icon img {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}

a:hover paper-icon-button iron-icon img {
    -webkit-filter: none;
    filter: none;
}

/* tablet & smaller */
@media (max-width: 679px) {
    .content {
      width:100%;
    }
    .sidebar {
      min-width:300px; 
      width:100%;
    }
}

h2 {
  margin: 0 0 0 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.featured-list {
  margin-bottom: 38px;
}

.featured-authors {
    padding: 20px 50px 20px 50px;
    transition: box-shadow .2s;
    text-decoration: none;
}

.featured-authors:hover {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}

.featured-authors:hover .featured-author {
    color: #D32F2F;
}

.featured-author {
    font-size: 1.2rem;
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1em;
    text-transform: none;
    background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    align-self: center;
    color: #455a64;
    margin-bottom: 2px;
    width: 100%;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a:hover .secondary-author {
    color: #D32F2F;
}

.secondary-author {
    font-size: 1.2rem;
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1em;
    text-transform: none;
    background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    align-self: center;
    color: #455a64;
    margin-bottom: 0;
    width: 100%;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.author-avatar { float: left; margin: 0 5px -1px -15px; }
.hexa, .hexa div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 59px;
  height: 59px;
}
.hexa {
  width: 64px;
  height: 45px;
}
.hexa div {
  width: 100%;
  height: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}
.hexa img {
  position: relative;
  top: -3px;
  left: 7px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
a:hover .hexa img {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.sidebar-title {
    padding: 16px 0 0 16px;
    font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.sidebar-connect { 
  font-size: 18px;
  line-height: 24px; 
}

.sidebar-connect-p { 
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
  }

.trending { 
    padding: 16px;
    min-width: 268px;
}

.trend { 
    width: 100%;
    display: block;
    margin: 0 0 8px 0;
}

a .trending-item { 
    font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: black;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 3px 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.trending:hover .trend a .trending-item { 
    color: #D32F2F;
}

a:hover .trending-item, a:focus .trending-item {
    border: 1px solid #D32F2F;
}

.footer-shadow {
  box-shadow: 0 -0.1875rem 0.125rem rgba(0, 0, 0, 0.14);
}

.mdl-mega-footer {
  background-color: #FFFFFF;
}

@media screen and (min-width:1024px){.first{width:52%;}}